//fonts

$gagalin: "Gagalin";
$lifehack: "Lifehack";
$ubuntu: "Ubuntu"; 
//  переменные в @include ubuntu() regular(default), light, medium, bold

// colors

$orange: #e45028;
$black: #2f3234;
$red: #e35028;
$hover-orange: #c1401e;
$hover-black: #1f2122;
 //gradient-colors
$yellow: #f9b43b;
$gradient-yellow: #eb8c38;


//z-index

$z-index-10: 10; // - .header--fullscreen, menu__title
$z-index-20: 20; // logo, hamburger-open-close-btn, vertical-accordeon__item(адаптив)
$z-fixed-menu: 100;
$z-index-video-bg: -10;


//media
@import "_misc/media.scss";


//normalize 

@import "_misc/normalize.scss";


//setups

@import "_misc/mixins";
@import "_misc/fonts.scss";
@import "_misc/layout.scss";
@import "_misc/keyframes.scss";


//blocks

@import "blocks/video-bg.scss";
@import "blocks/section.scss";
@import "blocks/title.scss";
@import "blocks/hero.scss";
@import "blocks/header.scss";	
@import "blocks/nav.scss";	
@import "blocks/btn.scss";	
@import "blocks/arrow-scroll-btn.scss";	
@import "blocks/best.scss";	
@import "blocks/reviews.scss";	
@import "blocks/reviews__overlay.scss";	
@import "blocks/order.scss";
@import "blocks/form.scss";
@import "blocks/fixed-menu.scss";
@import "blocks/sprite.scss";
@import "blocks/contacts.scss";
@import "blocks/footer.scss";
@import "blocks/adress.scss";
@import "blocks/phone.scss";
@import "blocks/socials.scss";
@import "blocks/hamburger-menu.scss";
@import "blocks/menu.scss";
@import "blocks/vertical-accordeon.scss";
@import "blocks/burgers-slider.scss";
@import "blocks/slider-container.scss";
@import "blocks/burger-card.scss";
@import "blocks/composition.scss";
@import "blocks/slider-dots.scss";
@import "blocks/overlay.scss";
@import "blocks/team.scss";
@import "blocks/staff.scss";
