.arrow-scroll-btn {
	position: absolute;
	bottom: rem(40px);
	left: 50%;
	transform: translateX(-50%);
	transition: .3s;

	&:hover {
		bottom: rem(36px);
	}

	@include phones {
		bottom: rem(70px);
	}
}