.best {
	background: url('./../img/bg/about.jpg') center center / cover no-repeat;
}

.best__list {
	display: flex;
	margin-top: rem(56px);

	@include phones {
		flex-direction: column;
	}
}

.best__item {
	flex: 1;
	margin-right: rem(35px);
	text-align: center;
	
	&:last-child {
		margin-right: 0;
	}

	@include phones {
		margin-right: 0;
		text-align: left;
		display: flex;
		padding: 0 3%;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 20px;
		align-items: center;
		max-width: rem(450px);

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.best__picture {
	margin-bottom: rem(34px);

	@include phones {
		margin-bottom: 0;
		width: 30%;
		height: rem(100px);
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.best__desc {
	@include phones {
		width: 70%;
		margin-left: 20px;
	}
}

.best__desc-title {
	font-size: rem(24px);
	font-family: $lifehack;
	margin-bottom: rem(23px);

	@include phones {
		margin-bottom: 5px;
	}
}

.best__desc-text {
	font-weight: light;
	font-size: rem(14px);
	opacity: .8;
}