.hero { 
	background: url('../img/bg/texture-video.png') center center / cover no-repeat;
	position: relative;
}

.hero__container {
	height: 100%;
}

.hero__content {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex: 0.9;
}

.hero__content-picture {
	position: relative;
}

.hero__desc {
	padding-top: 80px;
	margin-left: 50px;
}

.hero__title {
	margin-bottom: 55px;
}

.hero__subtitle {
	font-size: 56px;
	font-family: $lifehack;
	color: #fff;
	line-height: 1;
}