.nav {
	margin-right: rem(15px);

	@include laptop() {
		display: none;
	}
}

.nav__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__item {
	display: flex;
	align-items: center;
	margin-right: rem(14px);


	&::after {
		content: "";
		width: rem(4px);
		height: rem(3px);
		background: #fff;
		border-radius: 50%;
		margin-left: rem(14px);
	}

	&:last-child {
		&::after {
			display: none;
			margin-right: 0;
		}
	}

	&:hover {
		.nav__link {
			color: $red;
		}
	}
}

.nav__link {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: rem(13px);
	transition: .3s;
}