.slider-dots {
	height: rem(75px);
	max-width: rem(940px);
	width: 100%;
	background: rgba(#fff, .2);
	border-radius: 5px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

	@include tablets {
		display: none;
	}
}

.slider-dots__img {
	width: rem(35px);
	height: rem(35px);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	opacity: .6;
	transition: .3s;
	margin-right: rem(30px);

	&:last-child {
		margin-right: 0;
	}

	&--pic {
		max-width: 100%;
	}
}

.slider-dots__img--active, .slider-dots__img:hover {
	opacity: 1;
}