.vertical-accordeon {
	display: flex;
	justify-content: flex-end;
	height: 100%;

	
}

.vertical-accordeon__list, .vertical-accordeon__item, .vertical-accordeon__btn {
	display: flex;
	height: 100%;
}

.vertical-accordeon__list {
	@include tablets {
		width: 100%;
		justify-content: flex-end;
	}

	@include phones{
		position: relative;
	}
}

.vertical-accordeon__item {
	@include tablets {
		z-index: 10;
	}
} 



.vertical-accordeon__btn{ 
	width: rem(80px);
	text-decoration: none;
	justify-content: center;
	padding-bottom: rem(30px);
	background:  center center / cover no-repeat;
}

.vertical-accordeon__title{ 
	font-size: rem(40px);
	writing-mode: vertical-rl;
	transform: rotate(180deg); 
	line-height: rem(63px);
	transition: .3s;
}	

.vertical-accordeon__contennt {
	background: rgba($black, .9);
	overflow: hidden;
	padding-top: rem(50px);
	width: 0;
	transition: .3s;

	@include tablets {
		transition: inherit;
	}
}

.vertical-accordeon__text {
	color: #fff;
	font-weight: 300;
	font-size: rem(14px);
	line-height: rem(24px);
	width: rem(450px);

	@include tablets {
		width: inherit;
	}
}

// активный класс .vertical-accordeon__item--active
.vertical-accordeon__item--active {
	.vertical-accordeon__title {
		color: $yellow;
	}

	.vertical-accordeon__contennt {
		width: rem(540px);
		padding: rem(50px) rem(40px);

		@include tablets {
			width: 100%;
		}
	}

	@include tablets {
		.vertical-accordeon__btn {
			max-width: rem(80px);
			width: 100%;
		}
		width: 100%;
	}

	@include phones {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 20;
	}
}