.composition__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: rem(40px);
	margin-bottom: rem(5px);

	&:last-child {
		margin-bottom: 0;
	}
}

.composition__item--text {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: rem(15px);
	max-width: rem(200px);
	width: 100%;
	font-size: 14px;
	color: $black;
}

.composition__item--amount {
	font-weight: 300;
}

.composition__close {
	display: none;
	right: 5%;
	top: 5%;
	position: absolute;
	z-index: 10;

	@include tablets {
		display: block;
	}
}

.composition__close-btn {
	display: block;
	padding: 15px;

		&::before {
			content: "";
			height: 5px;
			width: 30px;
			position: absolute;
			left: 0;
			border-radius: 3px;
			background: $red;
			transform: rotate(45deg);
		}

		&::after {
			content: "";
			height: 5px;
			width: 30px;
			left: 0;
			position: absolute;
			border-radius: 3px;
			background: $red;
			transform: rotate(-45deg);
		}
}