.hamburger-menu {
	height: 40px;
	width: 30px;
  align-items: center;
  margin: 0 25px;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: $z-index-10;

	display: none;

    @include laptop() {
        display: flex;
    }

		&--toggled {
			> .hamburger-menu__container::before {
				animation: burg2top 0.4s linear forwards;
			}
			> .hamburger-menu__container {
				background: transparent;
			}
			> .hamburger-menu__container::after {
				animation: burg2bottom 0.4s linear forwards;
			}
		}
		&--unToggled {
			> .hamburger-menu__container::before {
				animation: burg2topReset 0.4s linear forwards;
			}
			> .hamburger-menu__container {
				background: #fff;
			}
			> .hamburger-menu__container::after {
				animation: burg2bottomReset 0.4s linear forwards;
			}
}
}


.hamburger-menu__container {
	height: 5px;
	width: 30px;
	background: #fff;
	border-radius: 3px;
	position: relative;
	transition: background 0.4s, font-size 0s;

		&::before,
		&::after {
			transition: font-size 0s;
			content: "";
			display: block;
			position: absolute;
			height: 5px;
			width: 30px;
			background: #fff;
			border-radius: 3px;
			transition: font-size 0s;
      transform-origin: center center;
		}
		&::before {
			margin-top: -10px;
		}
		&::after {
			margin-top: 10px;
		}
}