.logo {
	width: rem(98.265px);
	height: rem(74.317px);
	z-index: $z-index-20;
}

.arrow-scroll {
	width: rem(28.685px);
	height: rem(14.479px);

	@include phones {
		width: rem(50px);
		height: rem(40px);
	}
}

.meat {
	width: rem(96.428px);
	height: rem(89.246px);
}

.hand {
	width: rem(73px);
	height: rem(85.875px);
}

.natural {
	width: rem(88px);
	height: rem(75.534px);
}

.phone-icon {
	width: rem(11px);
	height: rem(11px);
	margin-right: rem(5px);
	fill:#E45028;
}

.vk {
	width: rem(23px);
	height: rem(13px);
}

.fb {
	width: rem(20px);
	height: rem(20px);
}

.inst {
	width: rem(20px);
	height: rem(20px);
}

.twitter {
	width: rem(20px);
	height: rem(16px);
}

.drops {
	position: absolute;
	left: 47%;
	top: 40%;
	transform: translate(-50%, -50%);
	width: rem(430px);
	height: rem(230px);
	animation: drop-color 4s infinite;
	max-width: 100%;

	@include tablets {
		left: 48%;
		padding: 0 5%;
	}

	@include phones {
		padding: 0;
	}
}

.burger-icon {
	width: rem(45.748px);
	height: rem(44.625px);
}


.kkal {
	width: rem(60px);
	height: rem(60.178px);
}

.beef {
	width: rem(44px);
	height: rem(39.212px);
}

.buns {
	width: rem(48px);
	height: rem(30.317px);
}

.salad {
	width: rem(38px);
	height: rem(38.638px);
}

.sauce{
	width: rem(40.189px);
	height: rem(43.416px);
}

.cucumber{
	width: rem(42px);
	height: rem(37.754px);
}

.cheese{
	width: rem(38.126px);
	height: rem(34.138px);
}

.play{
	width: rem(300px);
	height: rem(300px);
	fill: rgba(#fff, .7);
}

.volume{
	width: rem(300px);
	height: rem(300px);
	fill: rgba(#fff, .7);
}