//смена цввета капли в hero

@keyframes drop-color {
	0% {
			fill: #E45028;
			top: 42%;
	}

	15% {
			fill: #F9B43B;
	}

	25% {
			fill: #E45028;
	}

	45% {
			fill: #F9B43B;
	}

	50% {
			top: 37%;
			fill: #E45028;
	}

	65% {
			fill: #E45028;
	}

	75% {
			fill: #F9B43B;
	}

	100% {
			fill: #E45028;
			top: 42%;
	}
}

//блик на кнопках btn

@keyframes light {
	from {
			transform: translateX(-4em) skewX(-45deg);
	}
	to {
			transform: translateX(10em) skewX(-45deg);
	}
}

//всплытие модальных окон
@keyframes zoomIn {
	 0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}

@keyframes burg2top {
	0% {
	}
	20% {
		margin-top: 0em;
		transform: rotate(0deg);
	}
	60% {
		margin-top: 0em;
		transform: rotate(55deg);
	}
	100% {
		margin-top: 0em;
		transform: rotate(45deg);
	}
}

@keyframes burg2bottom {
	0% {
	}
	20% {
		margin-top: 0em;
		transform: rotate(0deg);
	}
	60% {
		margin-top: 0em;
		transform: rotate(-55deg);
	}
	100% {
		margin-top: 0em;
		transform: rotate(-45deg);
	}
}

@keyframes burg2topReset {
	0% {
		margin-top: 0em;
		transform: rotate(45deg);
	}
	20% {
		transform: rotate(0deg);
	}
	60% {
		margin-top: 15px;
		transform: rotate(0deg);
	}
	100% {
		margin-top: 10px;
		transform: rotate(0deg);
	}
}

@keyframes burg2bottomReset {
	0% {
		margin-top: 0em;
		transform: rotate(-45deg);
	}
	20% {
		transform: rotate(0deg);
	}
	60% {
		margin-top: -15px;
		transform: rotate(0deg);
	}
	100% {
		margin-top: -10px;
		transform: rotate(0deg);
	}
}